<a href="https://colab.research.google.com/github/dyjdlopez/AIDA/blob/main/activities/Lab%2002%20-%20Data%20Cleaning/fund_aida_02v1_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Topic 02: Basic Data Manipulation

$_{\text{Â©D.J. Lopez | 2022 | Fudamentals of Artificial Intelligence and Data Analytics}}$

Another important skill for Data Scientists and AI Engineers is to work with data. In this module, we will be introduced with Pandas as a tool for creating, modifying, and re-structuring structured data programatically. We will specifically cover:

* Pandas Data Structures
* Data sourcing
* Data splicing

# Part 01: Data Structures
The main structures in Pandas are `Series` and `DataFrames`. The main difference between the two structures is that `Series` have single dimensions whilr `DataFrames` are in 2D.

In [ ]:
import pandas as pd
import numpy as np

## 1.1 Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is to call:

`s = pd.Series(data, index=index)`

In [ ]:
## Vectors to Series
vectA = np.array([1,1,2,3,4])
vectA

array([1, 1, 2, 3, 4])

In [ ]:
seriesA = pd.Series(vectA)
seriesA

0    1
1    1
2    2
3    3
4    4
dtype: int64

In [ ]:
## Lists to Series
listA = ['apple','oranges','grapes']
seriesB = pd.Series(listA)
seriesB

0      apple
1    oranges
2     grapes
dtype: object

In [ ]:
## Adding indeces
vals = np.arange(0,10,2)
id = ['a','b','c','d','e']
vectSeries = pd.Series(data=vals, index=id)
vectSeries

a    0
b    2
c    4
d    6
e    8
dtype: int64

In [ ]:
### Let's try a playlist
songs = ['all too well','angostura','beer','the other side', 'shinzou wo sasageyo']
artist = ['taylor swift','keshi','itchyworms','alter bridge','linked horizon']
rating = [5,5,4.75,2.5,4.2]

In [ ]:
titles = pd.Series(songs)
artists = pd.Series(artist)
ratings = pd.Series(rating)

0    5.00
1    5.00
2    4.75
3    2.50
4    4.20
dtype: float64

## 1.2 DataFrames
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object. Like Series, DataFrame accepts many different kinds of input:

* Dict of 1D ndarrays, lists, dicts, or Series
* 2-D numpy.ndarray
* Structured or record ndarray
* A `Series`
* Another `DataFrame`

Along with the data, you can optionally pass index (row labels) and columns (column labels) arguments. If you pass an index and / or columns, you are guaranteeing the index and / or columns of the resulting DataFrame. Thus, a dict of Series plus a specific index will discard all data not matching up to the passed index.

If axis labels are not passed, they will be constructed from the input data based on common sense rules.

![image](https://pandas.pydata.org/docs/_images/01_table_dataframe.svg)

In [ ]:
employees_df = pd.DataFrame({
    "username": ['pjreddie','rtkantos','jdoe'],
    "is_admin": [True, False, True],
    "credit_score": [100, 200, 50]
})
employees_df

   username  is_admin  credit_score
0  pjreddie      True           100
1  rtkantos     False           200
2      jdoe      True            50

In [ ]:
playlist_df = pd.DataFrame({
    "title": titles,
    "artist": artists,
    "ratings":ratings
})
playlist_df

                 title          artist  ratings
0         all too well    taylor swift     5.00
1            angostura           keshi     5.00
2                 beer      itchyworms     4.75
3       the other side    alter bridge     2.50
4  shinzou wo sasageyo  linked horizon     4.20

# Part 02: Data Sourcing

In [ ]:
## From Excel
pokemon_df = pd.read_excel("pokemon.xlsx")
pokemon_df

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,['Beast Boost'],0.25,1.0,0.5,2.0,0.5,1.0,2.0,0.5,1.0,...,NaN,797,107,101,61,steel,flying,999.9,7,1
797,['Beast Boost'],1.00,1.0,0.5,0.5,0.5,2.0,4.0,1.0,1.0,...,NaN,798,59,31,109,grass,steel,0.1,7,1
798,['Beast Boost'],2.00,0.5,2.0,0.5,4.0,2.0,0.5,1.0,0.5,...,NaN,799,97,53,43,dark,dragon,888.0,7,1
799,['Prism Armor'],2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,800,127,89,79,psychic,NaN,230.0,7,1
800,['Soul-Heart'],0.25,0.5,0.0,1.0,0.5,1.0,2.0,0.5,1.0,...,NaN,801,130,115,65,steel,fairy,80.5,7,1

# Part 03: Data Exploration (Shallow)

In [ ]:
pokemon_df

In [ ]:
pokemon_df.head(10)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
5,"['Blaze', 'Solar Power']",0.25,1.0,1.0,2.0,0.5,0.5,0.5,1.0,1.0,...,88.1,6,159,115,100,fire,flying,90.5,1,0
6,"['Torrent', 'Rain Dish']",1.00,1.0,1.0,2.0,1.0,1.0,0.5,1.0,1.0,...,88.1,7,50,64,43,water,NaN,9.0,1,0
7,"['Torrent', 'Rain Dish']",1.00,1.0,1.0,2.0,1.0,1.0,0.5,1.0,1.0,...,88.1,8,65,80,58,water,NaN,22.5,1,0
8,"['Torrent', 'Rain Dish']",1.00,1.0,1.0,2.0,1.0,1.0,0.5,1.0,1.0,...,88.1,9,135,115,78,water,NaN,85.5,1,0
9,"['Shield Dust', 'Run Away']",1.00,1.0,1.0,1.0,1.0,0.5,2.0,2.0,1.0,...,50.0,10,20,20,45,bug,NaN,2.9,1,0

In [ ]:
pokemon_df.tail(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
798,['Beast Boost'],2.00,0.5,2.0,0.5,4.0,2.0,0.5,1.0,0.5,...,NaN,799,97,53,43,dark,dragon,888.0,7,1
799,['Prism Armor'],2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,800,127,89,79,psychic,NaN,230.0,7,1
800,['Soul-Heart'],0.25,0.5,0.0,1.0,0.5,1.0,2.0,0.5,1.0,...,NaN,801,130,115,65,steel,fairy,80.5,7,1

In [ ]:
pokemon_df.describe()

,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,against_grass,...,height_m,hp,percentage_male,pokedex_number,sp_attack,sp_defense,speed,weight_kg,generation,is_legendary
count,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,...,781.000000,801.000000,703.000000,801.000000,801.000000,801.000000,801.000000,781.000000,801.000000,801.000000
mean,0.996255,1.057116,0.968789,1.073970,1.068976,1.065543,1.135456,1.192884,0.985019,1.034020,...,1.163892,68.958801,55.155761,401.000000,71.305868,70.911361,66.334582,61.378105,3.690387,0.087391
std,0.597248,0.438142,0.353058,0.654962,0.522167,0.717251,0.691853,0.604488,0.558256,0.788896,...,1.080326,26.576015,20.261623,231.373075,32.353826,27.942501,28.907662,109.354766,1.930420,0.282583
min,0.250000,0.250000,0.000000,0.000000,0.250000,0.000000,0.250000,0.250000,0.000000,0.250000,...,0.100000,1.000000,0.000000,1.000000,10.000000,20.000000,5.000000,0.100000,1.000000,0.000000
25%,0.500000,1.000000,1.000000,0.500000,1.000000,0.500000,0.500000,1.000000,1.000000,0.500000,...,0.600000,50.000000,50.000000,201.000000,45.000000,50.000000,45.000000,9.000000,2.000000,0.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,65.000000,50.000000,401.000000,65.000000,66.000000,65.000000,27.300000,4.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,...,1.500000,80.000000,50.000000,601.000000,91.000000,90.000000,85.000000,64.800000,5.000000,0.000000
max,4.000000,4.000000,2.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,14.500000,255.000000,100.000000,801.000000,194.000000,230.000000,180.000000,999.900000,7.000000,1.000000

In [ ]:
pokemon_df.dtypes

abilities             object
against_bug          float64
against_dark         float64
against_dragon       float64
against_electric     float64
against_fairy        float64
against_fight        float64
against_fire         float64
against_flying       float64
against_ghost        float64
against_grass        float64
against_ground       float64
against_ice          float64
against_normal       float64
against_poison       float64
against_psychic      float64
against_rock         float64
against_steel        float64
against_water        float64
attack                 int64
base_egg_steps         int64
base_happiness         int64
base_total             int64
capture_rate          object
classfication         object
defense                int64
experience_growth      int64
height_m             float64
hp                     int64
japanese_name         object
name                  object
percentage_male      float64
pokedex_number         int64
sp_attack              int64
sp_defense             int64
speed                  int64
type1                 object
type2                 object
weight_kg            float64
generation             int64
is_legendary           int64
dtype: object

In [ ]:
pokemon_df.columns

Index(['abilities', 'against_bug', 'against_dark', 'against_dragon',
       'against_electric', 'against_fairy', 'against_fight', 'against_fire',
       'against_flying', 'against_ghost', 'against_grass', 'against_ground',
       'against_ice', 'against_normal', 'against_poison', 'against_psychic',
       'against_rock', 'against_steel', 'against_water', 'attack',
       'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate',
       'classfication', 'defense', 'experience_growth', 'height_m', 'hp',
       'japanese_name', 'name', 'percentage_male', 'pokedex_number',
       'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg',
       'generation', 'is_legendary'],
      dtype='object')

In [ ]:
## Dataset Splicing
pokemon_bt = pokemon_df[['name','abilities','hp','attack','defense','sp_attack','sp_defense','speed']]
pokemon_bt

,name,abilities,hp,attack,defense,sp_attack,sp_defense,speed
0,Bulbasaur,"['Overgrow', 'Chlorophyll']",45,49,49,65,65,45
1,Ivysaur,"['Overgrow', 'Chlorophyll']",60,62,63,80,80,60
2,Venusaur,"['Overgrow', 'Chlorophyll']",80,100,123,122,120,80
3,Charmander,"['Blaze', 'Solar Power']",39,52,43,60,50,65
4,Charmeleon,"['Blaze', 'Solar Power']",58,64,58,80,65,80
...,...,...,...,...,...,...,...,...
796,Celesteela,['Beast Boost'],97,101,103,107,101,61
797,Kartana,['Beast Boost'],59,181,131,59,31,109
798,Guzzlord,['Beast Boost'],223,101,53,97,53,43
799,Necrozma,['Prism Armor'],97,107,101,127,89,79
800,Magearna,['Soul-Heart'],80,95,115,130,115,65

In [ ]:
kanto_pokemon_bt = pokemon_bt.loc[5]
kanto_pokemon_bt

name                         Charizard
abilities     ['Blaze', 'Solar Power']
hp                                  78
attack                             104
defense                             78
sp_attack                          159
sp_defense                         115
speed                              100
Name: 5, dtype: object

In [ ]:
## ILoc
pokemon_bt.iloc[0:150:2]

,name,abilities,hp,attack,defense,sp_attack,sp_defense,speed
0,Bulbasaur,"['Overgrow', 'Chlorophyll']",45,49,49,65,65,45
2,Venusaur,"['Overgrow', 'Chlorophyll']",80,100,123,122,120,80
4,Charmeleon,"['Blaze', 'Solar Power']",58,64,58,80,65,80
6,Squirtle,"['Torrent', 'Rain Dish']",44,48,65,50,64,43
8,Blastoise,"['Torrent', 'Rain Dish']",79,103,120,135,115,78
...,...,...,...,...,...,...,...,...
140,Kabutops,"['Swift Swim', 'Battle Armor', 'Weak Armor']",60,115,105,65,70,80
142,Snorlax,"['Immunity', 'Thick Fat', 'Gluttony']",160,110,65,65,110,30
144,Zapdos,"['Pressure', 'Static']",90,90,85,125,90,100
146,Dratini,"['Shed Skin', 'Marvel Scale']",41,64,45,50,50,50
148,Dragonite,"['Inner Focus', 'Multiscale']",91,134,95,100,100,80

In [ ]:
dm_df = pd.read_csv('dm-da.csv')
dm_df.describe()

,takes,t_open,t_pass1,t1,score1,t_pass2,t2,ttime,score2,fscore
count,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000
mean,1.800000,0.548681,0.602760,0.054080,54.750000,0.631684,0.028924,0.083003,75.500000,65.125000
std,0.405096,0.061435,0.055308,0.042066,23.559798,0.044897,0.032796,0.045890,25.864539,20.055612
min,1.000000,0.459722,0.480556,0.002778,0.000000,0.498611,0.000000,0.012500,0.000000,20.000000
25%,2.000000,0.493924,0.559896,0.023958,40.000000,0.614410,0.006771,0.044097,60.000000,55.000000
50%,2.000000,0.531250,0.609722,0.041667,55.000000,0.632986,0.011458,0.081944,80.000000,65.000000
75%,2.000000,0.592535,0.640799,0.076736,66.250000,0.656597,0.054861,0.118229,100.000000,80.000000
max,2.000000,0.675694,0.704861,0.151389,100.000000,0.706250,0.113889,0.162500,100.000000,100.000000